  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center" >

    <div class="d-flex align-items-center justify-content-between">
      <a href="/" class="logo d-flex align-items-center">
        <img src="/img/logo.png" alt="">
        <span class="d-none d-lg-block">Admin</span>
      </a>
      <!-- <i class="bi bi-list toggle-sidebar-btn"></i> -->
    </div><!-- End Logo -->

    <div class="offcanvas-body p-4 pt-0 p-lg-0">
        <hr class="d-lg-none text-white-50">
        <ul class="navbar-nav flex-row flex-wrap bd-navbar-nav">
          <li class="nav-item col-6 col-lg-auto">
            <a class="nav-link py-2 px-0 px-lg-2" href="{% url 'bbs:list' %}">게시판</a>
          </li>
          {% if request.user.is_authenticated %}
          <li class="nav-item col-6 col-lg-auto">
            <a href="{% url 'account:logout' %}" class="btn btn-alert">로그아웃</a>
          </li>
          <li class="nav-item col-6 col-lg-auto">
            <a href="{% url 'chat:chati' %}" class="btn btn-alert">채팅</a>
          </li>
          {% else %}
          <li class="nav-item col-6 col-lg-auto">
            <a href="{% url 'account:sign' %}" class="btn btn-alert">회원가입</a>
          </li>
          <li class="nav-item col-6 col-lg-auto">
            <a href="{% url 'account:login' %}" class="btn btn-alert">로그인</a>
          </li>
          <li class="nav-item col-6 col-lg-auto">
            <a href="{% url 'account:id_search' %}" class="btn btn-alert">아이디 찾기</a>
          </li>
          <li class="nav-item col-6 col-lg-auto">
            <a href="{% url 'account:pw_search' %}" class="btn btn-alert">비밀번호 찾기</a>
          </li>
          {% endif %}
          <li class="nav-item col-6 col-lg-auto">
            <a href="{% url 'admin:index' %}" class="btn btn-alert">관리자</a>
          </li>
        </ul>
    </div>

  </header><!-- End Header -->