{% extends 'base.html' %}
{% block title %}수정{% endblock %}
{% block content %}
    <form action="{% url 'bbs:update' Board.seq %}" method="POST">
        {% csrf_token %}
        <!-- <input type="hidden" name="id" value="{{Board.id}}"><br> -->
        <div class="container text-center fluid pt-3">
        <form>
          <div class="row g-5">
            <div class="input-group pb-md-3">
              <span class="input-group-text w-25">제목</span>
              <input type="text" name="title" id="titlle" value="{{Board.title}}" class="form-control">
            </div>
          </div>  
          <div class="row g-3">
            <div class="input-group pb-md-3">
              <span class="input-group-text w-25">저자</span>
              <input type="text" name="name" id="name" value="{{Board.name}}" class="form-control">
            </div>
          </div>  
          <div class="row g-3">
            <div class="input-group pb-md-3">
              <span class="input-group-text w-25">내용</span>
              <textarea name="contents" id="contents" cols="20" rows="10" class="form-control">{{Board.contents}}</textarea>
            </div>
          </div>  
          <div class="row g-3">
            <div class="input-group pb-md-3">
              <span class="input-group-text w-25">Url</span>
              <input type="url" name="url" maxlength="200" value="{{Board.url}}" class="form-control">
            </div>
          </div>  
          <div class="row g-3">
            <div class="input-group pb-md-3">
                <span class="input-group-text w-25">Email</span>
                <input type="email" name="email" maxlength="254" value="{{Board.email}}" class="form-control">
            </div>
          </div>  
          <div class="row g-3">
            <div class="text-start col-6">
              <button type="submit" class="btn btn-primary">제출</button>
            </div>
            <div class="text-end col-6">
              <a href="{% url 'bbs:list' %}"><span class="btn btn-primary">목록</span></a>
            </div>
          <div class="row g-3">
        </div>
        </form><!-- Vertical Form -->

        <!-- <label for="title">제목</label>
        <input type="text" name="title" id="titlle" value="{{Board.title}}">
        <br>
        <label for="writer">저자</label>
        <input type="text" name="name" id="name" value="{{Board.name}}" >
        <br>
        <label for="body">내용</label>
        <textarea name="contents" id="contents" cols="30" rows="10">{{Board.contents}}</textarea>
        <p>
            <label for="id_url">Url</label>
            <input type="url" name="url" maxlength="200" value="{{Board.url}}">
        </p>
        <p>
            <label for="id_email">Email:</label>
            <input type="email" name="email" maxlength="254" value="{{Board.email}}">
        </p> -->
        <!-- <button type="submit">제출</button> | 
        <a href="{% url 'bbs:list' %}">목록</a> -->
    </form>
{% endblock %}