{% extends 'base.html' %}
{% block title %}등록{% endblock %}
{% block content %}

<div class="card-body">
    <div class="card-body pt-3">
        <!-- Floating Labels Form -->
        <form method="POST">
            {% csrf_token %}
            <div class="form-floating col-md-12 m-sm-1">
                {{forms.name}}
                <label for="floatingInput">이름</label>
            </div>
            <div class="col-md-12 m-sm-1">
                {{forms.title}}
            </div>
            <div class="col-md-12 m-sm-1">
                {{forms.contents}}
            </div>
            <div class="col-md-12 m-sm-1">
                {{forms.url}}
            </div>
            <div class="col-md-12 m-sm-1">
                {{forms.email}}
            </div>
            <div class="col-md-12 m-sm-1">
                <div class="text-center">
                    <button type="submit" class="btn btn-Info rounded-pill">저장</button>
                </div>
            </div><!-- <button type="submit" class="btn btn-primary">저장</button> -->
        </form><!-- End floating Labels Form -->
    </div>
</div>
{% endblock %}